.timeout{
 display: flex;
 justify-content: center;
}

.transition, form button, form .question label, form .question input[type="text"] {
    -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  }
  
  * {
    font-family: Helvetica, sans-serif;
    font-weight: light;
    -webkit-font-smoothing: antialiased;
  }
  
  form {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 30px 25px;
    background-color: white;
    border-radius: 40px;
    margin: 40px 0;
  }
  form h1 {
    color: #d31818;
    font-weight: 100;
    letter-spacing: 0.01em;
    margin-left: 15px;
    margin-bottom: 35px;
    text-transform: uppercase;
  }
  form button {
    margin-top: 35px;
    background-color: white;
    border: 1px solid #d31818;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 60px;
    color: #d31818;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
  form button:hover, form button:focus {
    color: white;
    background-color: #d31818;
  }
